* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: auto;
}

.conainer {
  display: grid;
  grid-template-coluns:[first]140px [frameL]690px [Mid1]auto [Mid2]690px [frameR]140px [ends];
  grid-template-rows:[first]150px [nav]20px [title1]310px [page1]20px [title2]310px [page2]20px [title3]310px [table1]310px [page3]20px [ducks]310px [about]167px [ends];
  background-color:white;
}


  header {
    display: flex;
    z-index: 4;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    position: fixed;
    padding: 1rem;
    margin-bottom: 6rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  div.logo img {
    width: 8vw;
    height: 2vw;
  }
  div.logo {
    display: flex;
    flex: 0 1 10px;
    align-items: center;
    margin-left: 6rem;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  nav ul li {
    padding-right: 3rem;
    padding-left: 2rem;
    cursor: pointer;
  }
  nav ul li a {
    text-decoration: none;
    font-family: 24-Segoe;
    color: #707070;
  }
  nav ul div.title {
    flex: 5 1 1200px;
    display: flex;
    align-items: center;
    padding-right: 0;
    margin-right: 6rem;
  }
  nav ul li img {
    width: 30px;
    height: 30px;
  }
  nav ul div {
    display: flex;
  }
  nav ul div.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 300px;
    padding-right: 0;
    margin-right: 0;
  }
  nav ul div.button li {
    padding-right: 0;
  }
  nav ul div.button li.button button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: 3px solid rgb(49, 230, 49);
    color: rgb(58, 207, 58);
    font-weight: bolder;
main h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0rem 4rem 0rem 8rem;
    font-family: 34-Segoe;
    color: #404040;
  }
  main section.left h2 {
    font-weight: normal;
    font-size: 18px;
    font-family: 34-Segoe, UI-Regular;
    color: #404040;
  }
  main div.up {
    display: flex;
   flex-wrap: wrap;
   margin-left: 3rem;
    
  }
  main div.up section.left{
    max-width: 700px;
  }
  main section.right,
  section.left {
    line-height: 32px;
    margin-left: 4rem;
    color: #404040;
  }
  div.up img {
    width: 200px;
    height: 200px;
  }
  div.up img.pic3 {
    right: 400px;
    top: 200px;
  }
  div.up img.pic4 {
    left: 200px;
  }
  
  div.up section.left {
    padding: 1rem;
    flex: 3 1 800px;
  }
  div.up section.right {
    padding: 1rem;
    flex: 2 1 600px;
  }
  main div.down {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  div.down img {
    width: 200px;
    height: 200px;
  }
  div.down section.left table {
    margin-left: 4rem;
    flex: 2 1 600px;
  }
  div.down section.right {
    max-width: 800px;
    flex: 5 1 800px;
  }
  div.down section.right p {
    margin-right: 2rem;
  }
  main h1.tttt {
    margin: 2rem 0 1rem 8rem;
  }
  main div.bartable th {
    border-collapse: collapse;
    border-bottom: 1px solid rgb(11, 129, 11);
    font-size: 24px;
    font-weight: normal;
    color: #404040;
  }
  main div.bartable {
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  main div.bartable::-webkit-scrollbar {
    display: none;
  }
  main div.td {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
  }
  main div.td p.c1 {
    position: relative;
    left: 123px;
  }
  main div.td p.c2 {
    position: relative;
    left: 50px;
  }
  main div.td p.c3 {
    position: relative;
    right: 20px;
  }
  main div.td p.c4 {
    position: relative;
    right: 96px;
  }
  main div.bartable table {
    border-collapse: collapse;
    border-top: 1px solid rgb(11, 129, 11);
    border-bottom: 1px solid rgb(11, 129, 11);
    width: 80%;
  }
  main div.bartable td {
    padding: 0.75rem 0.5rem;
    text-align: center;
  }
  main div.bartable td.underline {
    border-left: 1px solid rgb(11, 129, 11);
  }
  main div.bartable td.rightline {
    border-right: 1px solid rgb(11, 129, 11);
  }
  div.intro p {
    display: flex;
    max-width: 1200px;
    color: #707070;
    margin-left: 150px;
    line-height: 28px;
    margin-top: 1rem;
  }
  main div.img {
    display: flex;
    margin-left: 150px;
  }
  main img.intre {
    z-index: 3;
    width: 50px;
    height: 100px;
  }
  main img.duck {
    z-index: 2;
    position: relative;
    top: 20px;
    right: 24px;
    width: 25px;
    height: 50px;
  }
  main img.ducktree:hover {
    cursor: pointer;
  }
  main img.ducktree:active {
    z-index: 1;
  }
  footer.f1 {
    padding: 3rem;
    background-color: rgb(111, 173, 111);
    width: 100%;
    max-height: 800px;
    display: flex;
    align-items: center;
  }
  footer img {
    flex: 1 1 200px;
    width: 150px;
    height: 150px;
  }
  footer img.p1 {
    align-self: flex-end;
  }
  footer img.p2 {
    align-self: flex-start;
  }
  footer img.p3 {
    align-self: flex-end;
  }
  footer h1.title {
    color: white;
    margin-bottom: 1rem;
  }
  footer.f1 div.text {
    color: white;
    flex: 4 1 800px;
    max-width: 700px;
    line-height: 32px;
  }
  footer.f2 {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: rgb(57, 52, 59);
  }
  footer.f2 div.text {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    color: white;
  }
  footer.f2 div.text p.t1 {
    font-size: 24px;
    flex: 5 1 150px;
  }
  footer.f2 div.text table td {
    padding: 24px;
    width: 300px;
  }
