body {
  position: absolute;
  font: normal normal normal 24px/48px Segoe UI;
  color: #707070;
}

#logo,#adopt,#cooperation,#about,#contact,#question {
  padding-left: 140px;
  padding-right: 140px;
}

.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  margin: 0px;
  width: 1920px;
  height: 150px;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  padding-left: 140px;
  left: 0px;
  top: 0px;
}

.navigation li {
  display: inline-block;
  margin: 0px 32px 0px 32px;
  vertical-align: middle;
}

.navigation img {
  width: 170px;
  height: 42px;
}

.nav2 {
  position: fixed;
  display: inline;
  right: 140px;
  bottom: 10%;
  width: 80px;
  height: 80px;
  border-radius: 45px;
  text-align: center;
  background: #404040 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 4px solid #FFFFFF38;
  opacity: 0.68;
}

.nav2 img {
  width: 40px;
  height: 25px;
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: #707070;
}

#logo {
  margin-top: 198px;
}

.join {
  position: fixed;
  top: 51px;
  right: 140px;
}

.join button{
  width: 180px;
  height: 48px;
  border: 2px solid #689F38;
  font-size: 24px;
  color: #689F38;
  border-radius: 4px;
  background-color: white;
  font: normal normal 600 24px/32px Segoe UI;
}

.join img {
  width: 34px;
  height: 31px;
  vertical-align: middle;
}

#contact {
  height: 167px;
  text-align: center;
  background: #404040 0% 0% no-repeat padding-box;
}

#contact .col,h3 {
  color: #FFFFFF;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
}

#contact h3 {
  font: normal normal 600 34px/46px Segoe UI;
  margin-right: 121px;
}

#contact .col {
  height: 167px;
}

#contact .pt {
  margin-top: 37px;
  margin-bottom: 18px;
}

#contact .pb {
  margin: 0px 106px 48px 0px;
}

#adopt {
  margin-bottom: 60px;
}

#adopt .col{
  vertical-align: middle;
  width: 313px;
  margin: 0px;
}

#adopt .p1 {
  width: 950px;
  height: 466px;
  margin-right: 40px;
}

#adopt .p2 {
  margin-top: 43px;
  margin-left: 690px;
  margin-bottom: 30px;
}

#adopt .p3 {
  width: 950px;
  height: 464px;
  margin-left: 40px;
}

#adopt p {
  margin: 0px;
}

.bold {
  font: normal normal normal 34px/46px Segoe UI;
  color: #404040;
}

.diffcolor {
  color: #404040;
}

.picture img {
  width: 313px;
  height: 222;
}

.picture .img1 {
  margin-top: 4px;
  margin-bottom: 16px;
}

.col {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.col1 {
  padding-right: 10px;
}

.duck {
  background-image: url("./fig/plant.png");
  width: 1648px;
  margin: 60px 140px 60px 140px;
}

.duck img {
  margin-left: 1613px;
}

#about {
  background: #689F38 0% 0% no-repeat padding-box;
  height: 503px;
  margin-bottom: 46px;
  padding-top: 49px;
}

#about p {
  color: white;
  margin: 0px;
}

#about img {
  width: 500px;
  height: 470px;
  margin-right: 112px;
}

#about .col {
  width: 978px;
  height: 443px;
  vertical-align: top;
}

#cooperation {
  width: 1640px;
}

#cooperation .bold {
  padding-top: 200px;
  margin-top: -200px;
  margin-bottom: 30px;
}

#cooperation table {
  width: 1640px;
  height: 376px;
  margin-bottom: 27px;
}

#cooperation thead {
  font: normal normal normal 34px/46px Segoe UI;
  display: table;
  width: 1600px;
  table-layout: fixed;
  padding-left: 20px;
}

#cooperation tbody {
  display: block;
  font: normal normal normal 24px/48px Segoe UI;
  border: 4px solid #689F38;
  overflow-y: scroll;
  padding-top: 8px;
  height: 376px;
}

#cooperation tbody tr {
  background-image: url("./fig/tablebar.png");
  display: table;
  height: 64px;
  vertical-align: middle;
  width: 1600px;
  table-layout: fixed;
  box-shadow: 0px 3px 6px #00000029;
  margin: 0px 20px 15px 20px;
}

#cooperation tbody::-webkit-scrollbar {
  display: none;
}

#cooperation p {
  margin: 0px;
}

#question {
  width: 1640px;
  min-height: 669px;
  margin-top: 198px;
}

#question .bold {
  font: normal normal 600 34px/46px Segoe UI;
  margin-bottom: 10px;
}

#question .q {
  width: 1640px;
  height: 72px;
  border: 1px solid #707070;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 30px;
}

#question .qt {
  font: normal normal 600 24px/32px Segoe UI;
  color: #404040;
}

#question .anw {
  font: normal normal normal 24px/32px Segoe UI;
  opacity: 0;
}
