html {
  scroll-behavior: auto;
}
body {
  position: absolute;
  text-align: left;
  letter-spacing: 0px;
  font: normal normal normal 24px/48px Segoe UI;
  color: #707070;
  opacity: 1;
}


header {
  position: fixed;
  display:flex;
  align-items: center;
 
  width: 1920px;
  height: 150px;

  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

header #logo img {
  width: 170px;
  height: 42px;
}
header .navbar {
  display: inline-block;
  margin: 0px 32px 0px 32px;
  vertical-align: middle;
}

header .join {
  position: fixed;
  top: 51px;
  right:140px;
}
header .join button {
  width: 180px;
  height: 48px;
  border: 2px solid #689F38;
  font-size: 24px;
  color: #689F38;
  border-radius: 4px;
  background-color: white;
  font: normal normal 600 24px/32px Segoe UI;
}

header .join img {
  width: 34px;
  height: 31px;
  vertical-align: middle;
}

main #Adopt h1 {
  top: 198px;
}
main #Adopt h2 {
  top: 274px;
}
main #Adopt p {
  top: 324px;
  width: 950px;
}

main #How h1{
  top: 799px;
}
main #How p{
  top: 875px;
  width: 950px;
}
main #Cooperate h1 {
  top: 1395px;
}

main #cooperate table {
  width: 1640px;
  height: 376px;
  margin-bottom: 27px;
}
main #cooperate thead {
  font: normal normal normal 34px/46px Segoe UI;
  display: table;
  width: 1600px;
  table-layout: fixed;
  padding-left: 20px;
}
main #cooperate tbody {
  display: block;
  font: normal normal normal 24px/48px Segoe UI;
  border: 4px solid #689F38;
  overflow-y: scroll;
  padding-top: 8px;
  height: 376px;
}
main #cooperate tbody tr {
  background-image: url("./fig/tablebar.png");
  display: table;
  height: 64px;
  vertical-align: middle;
  width: 1600px;
  table-layout: fixed;
  box-shadow: 0px 3px 6px #00000029;
  margin: 0px 20px 15px 20px;
}
main #cooperate tbody::-webkit-scrollbar {
  display: none;
}

main #cooperate p {
  top: 1930px;
  width: 1638px;
}



